{% include 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'cart.css' %}">
{% block content%}

<!-- Cart Table -->

<section id="sec1">
    <div class="container">
        <h1 id="main-title" class="my-5">Cart</h1>
        <!-- <form name="ShoppingList">
            <fieldset>
                <legend>Shopping cart</legend>
                <label>Item: <input type="text" name="name" id="name"></label>
                <label>Quantity: <input type="text" name="data" id="data"></label>
        
                <input type="button" value="Save"   onclick="SaveItem()">
                <input type="button" value="Update" onclick="ModifyItem()">
                <input type="button" value="Delete" onclick="RemoveItem()">
            </fieldset>
            <div id="items_table">
                <h2>Shopping List</h2>
                <table id="list"></table>
                <label><input type="button" value="Clear" onclick="ClearAll()">
                * Delete all items</label>
            </div>
        </form> -->
        <div class="row cart-row">
            <div class="col-md-8">
                <div class="row">
                    <div class=" table-col col-md-4"> Items</div>
                    <div class=" table-col col-md-2"> Quantity </div>
                    <div class=" table-col col-md-2"> Price </div>
                    <div class=" table-col col-md-2"> Discount </div>
                    <div class=" table-col col-md-2"> Total </div>
                </div>
                {% if items %}
                {% for item in items  %}
                    <hr>
                    <div class="row">
                        <div class="col-md-4"> {{item.product.name}} </div>
                        <div class="col-md-2 qnt">
                            <input type="number" name="quantity" class="proqnt" value="{{item.qnt}}"  required="" id="id_quantity">    
                         </div>
                        <div class="col-md-2 itemprice"> {{item.sprice}} </div>
                        <div class="col-md-2 itemdiscount"> {{item.discount}} </div>
                        <div class="col-md-2 d-flex total">
                            {{item.dtotal}}
                            <span>
                                <a href="{{item.remove_from_cart}}">
                                    <span class="material-icons">
                                     highlight_off
                                    </span>
                                </a>
                            </span>
                        </div>

                    </div>
                {% endfor %}
                {% endif %}
                <hr>
            </div>
            <div class="col-md-4 orders">
                <div class="order-title">
                    <h1>Order Summary</h1>
                </div>
                <div class="os-rates">
                    <hr>
                    <div class="row os-title">
                        <div class="col">Sub-Total</div>
                        <div class="col text-right">{{subtotal}}</div>
                    </div>
                    <div class="row os-title">
                        <div class="col">Tax</div>
                        <div class="col text-right">{{tax}}</div>
                    </div>
                    <hr>
                    <div class="row os-title">
                        <div class="col">Total</div>
                        <div class="col text-right">{{total}}</div>
                    </div>
                </div>
                
                <disv class="os-promo text-left">
                    <p>Have a <b> <a href="">promo code</a></b> ? Add in next step</p>
                </disv>
                <a href="">
                    <button class="cst-btn mb-3" >Checkout</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}


<script src="{% static 'home.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% block script %}
{% endblock %}